.about-us{
    background-color: var(--color-secondery);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 3em;
}
    .about-us-info{
        margin: 0 0 1em 0;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
        .about-us-title{
            text-align: center;
            color: #fff;
            font-family: 'Playfair';
            font-size: 2em;
        
        }
        .about-us-text{
            margin: 2em 0 0 0;
            text-align: center;
            color: #fff;
            font-family: 'Poppins';
            line-height: 1em;
        }
        .about-us-button{
            margin: 2em 0 0 0;
            padding: 1em 1.5em;
            border: 1px solid #FFF;
            font-family: 'Lato';
            font-weight: 600;
            background-color: transparent;
            color: #FFF;
            text-transform: uppercase;
        }


    .about-us-photo{
        width: 100%;
    }
        .about-us-photo img{
            width: 100%;
            box-shadow: 10px 10px 8px rgba(0, 0, 0, .7);
        }

@media (min-width: 860px) {
    .about-us{
        flex-direction: row;
        padding: 7em;
    }

        .about-us-info{
            width: 35%;
        } 
            .about-us-text{
                line-height: 1.4em;
            }
            .about-us-button{
                cursor: pointer;
                transition: .2s ease-in;
            }
            .about-us-button:hover{
                background-color: #fff;
                color: #1f1f1f;
                
            }

        .about-us-photo{
            width: 50%;
        }
            .about-us-photo img{
                transition: box-shadow .2s ease-in;
            }
            .about-us-photo img:hover{
                box-shadow: -8px -8px 8px rgba(0, 0, 0, .6);
            }
}