.photo_background{
    display: none;
}

.presentation{
    padding: 8em 2em;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
    .presentation-title{
        font-size: 4em;
        color: #fff;
        width: 30%;    
        font-weight: 500;
        line-height: 1;
        font-family: 'Playfair Display', serif;
    }
    .someText{
        color: #FFF;
        font-size: 18px;
        width: 100%;
        font-family: 'Playfair Display', serif;
        font-weight: 100;
        line-height: 2;
        margin: .5em 0 0 0;
    }
    .buttons{
        display: none;
      
    }

@media (min-width: 900px) {
    .background {
        width: 100%;
        height: 700px;
        text-align: center;
        overflow: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
    .presentation{
        background: none;
        position: absolute;
        padding: 6em 6em;
    }
        .someText{
            width: 60%;
        }
        .buttons{
            font-family: 'Lato';
            display: inline;
            cursor: pointer;
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
            font-size: 1em;
            font-weight: 700;
            padding: 15px 20px;
            margin: 20px 25px 0 0;
            text-transform: uppercase;
            transition: background-color .2s ease-in-out;
        }

        .buttons:hover{
            background-color: #fff;
            color: #000;
        }

            .photo_background{
                display: inline;
                width: 100%;   
                height: 100%;
            }
}