.go-top{
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: var(--color-theme);
    border-radius: 10%;
    z-index: 2;
    transition: .2s ease-in-out;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}   

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
      }
      50%{
        transform: scale3d(1.2, 1.2, 1.2);
      }
      100% {
        transform: scale3d(1, 1, 1);
      }
}

.go-top:hover{
    border-radius: 100%;

}
    .go-top-icon{
        fill: #fff
    }

.menu{
    background-color: var(--color-theme);
    padding: 25px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

    .menu__title{
        font-family: 'Poppins';
        font-size: 40px;
        font-weight: 700;        
        padding: 0 20px;
        text-decoration: none;
        color: #FFF;
    }
    .menu_icon{
        cursor: pointer;
        width: 30px;
        fill: #FFF;
        margin-right: 35px;
        transition: .5s ease-in-out;
    }
    .navegation{
        background: linear-gradient(to right, #4b6cb7, #182848); 
        padding: 35px 0px;
        position: fixed;
        top: 90px;
        width: 0%;
        transition: .4s ease-in-out;
        opacity: 0;
    }
        .links_nav{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .links_nav li{
                margin: 25px 0 0 0;
            }
                .links_nav a{
                    font-size: 18px;
                    font-weight: 200;
                    font-family: 'Poppins';
                    color: #FFF;
                    text-decoration: none;
                }
                .shop_icon{
                    width: 25px;
                    fill: #FFF;
                }
                    .input__inner{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                        .search_icon{
                            width: 35px;
                            fill: #FFF;
                            margin: 0 0 0 10px;
                        }
                            .search_input{
                                font-family: 'Poppins';
                                font-size: 16px;
                                border: none;
                                border-radius: 5px;
                                height: 25px;
                                width: 100%;
                                background-color: rgba(255,255,255,.8);
                                display: inline;
                            }


/* DESKTOP                 */
@media only screen and (min-width: 900px) {

    .menu{
        padding: 25px 0;
        top: 0;
        z-index: 1;
        justify-content: space-between;
        border-bottom: 10px solid var(--color-secondery);
    }
    
        .menu__title{     
            padding: 0 40px;
        }
        .menu_icon{
            display: none;
        }
        .navegation{
            background: none;
            top: 0;  
            right: 0px;
            width: 65%;
            transition: none;
            opacity: 1;
        }
    
            .links_nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                
            }
                .links_nav li{
                    margin: -5px 0 0 0;
                }
                    .links_nav a{
                        position: relative;
                        font-weight: 400;
                        font-size: 15px;
                        transition: .2s ease-in
                    }
                    .shop_icon{
                        cursor: pointer;
                        width: 18px;
                    }
                            .search_icon{
                                cursor: pointer;
                                margin-left: -20px;
                                width: 21px;
                            }
                                .search_input{
                                    right: 30px;
                                    position: absolute;
                                    bottom: 0;
                                    border: 1px solid #464481;
                                    width: 0%;
                                    opacity: 0;
                                    transition:  width .4s ease-in-out;
                                }

                                .links_nav a::before{
                                    content: '';
                                    background-color: #FF003B;;
                                    height: 1px;
                                    width: 0%;
                                    position: absolute;
                                    bottom: -5px;
                                    transition: width .25s ease-in-out;
                                }
                                .links_nav a:hover{
                                    color: #FF003B;
                                }
                                .links_nav a:hover::before{
                                    width: 100%;
                                }
                                main{
                                    margin-top: 100px;
                                }

}