.statistics {
    position: relative;
    background-color: var(--color-secondery); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18em;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-around;
}
/* 
.statistics::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #45456e;
    opacity: .7;
    width: 100%;
    height: 18em;
} */

    .statistics-box { 
        margin: 4em 0 0 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }


    .statistics-number {
        color: #FFF;
        font-size: 30px;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        margin-top: 9px;
        line-height: 1.5;
    }

    .statistics-title {

        color: #FFF;
        font-size: 25px;
        text-transform: capitalize;
        font-family: 'Playfair', sans-serif;
        margin: .3em 0 0 0;
    }

    .statistics-box-icon {
        fill: #FFF;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 10px;
        left: -50px;
    }