footer{
    background-color: var(--color-theme);
    padding: 2em
}


    .container-div-footer{
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   

@media only screen and (min-width: 900px) {
    footer{
        padding: 4em
    }
        .container-div-footer{
            height: 200px;
            flex-direction: row;
            align-items: flex-start;
        }   
}
