.news{
    width: 100%;
}
    .news-title{
        font-family: 'Playfair';
        font-size: 1.5em;
        font-weight: 200;
        color: #fff;
    }
    .some-news{
        margin: 1.5em 0 0 0;
    }
        .some-news-link{
            font-size: .95em;
            font-family: 'Poppins';
            color: #aaa;
            text-decoration: none;
            transition: .2s ease-in
        }
        .some-news-link:hover{
            color: #FF003B;
        }
        .date{
            margin: .7em 0 0 0;
            font-size: .85em;
            font-family: 'Poppins';
            color: #aaa;
            display: block;
            position: relative;
        }

    .effect::after{
        content: '';
        background-color: #aaa;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -13px;
        left: 0;
    }


@media only screen and (min-width: 900px) {
    .news{
        width: 21%;
    }
}