

.newsletter{
    width: 100%;
}
.newsletter-tittle{
    font-family: 'Playfair';
    font-size: 1.5em;
    font-weight: 200;
    color: #fff;
}
.newsletter-text{
    font-size: .95em;
    font-family: 'Poppins';
    color: #aaa;
    margin: 2em 0;

}
.newsletter-form{
    display: flex;
}
    .newsletter-input{
        font-family: 'Poppins';
        background-color: #3d3d4d;
        color: #aaa;
        border: none;
        padding: 1em 0;
        line-height: 0;
    }
    .newsletter-button{
        background-color: #FF003B;
        border: none;
        padding: 1.1em 1.2em;  

    }


@media only screen and (min-width: 900px) {
    .newsletter{
        width: 21%;
    }

}   